body {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  background-color: orange;
}


h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 24px;
  text-align: center;

}

h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

div {
  justify-content: space-evenly;
}

.completed { 
    text-decoration: line-through; 
}

span {
    text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
  gap: 10px;
}

.inputbar {
  width: 100%; 
}

.todo-item {
  display: flex;
  flex-direction:row;
  margin: 10px black solid

}

span {
    margin: 10px;
}


/* buttons */

.reset-button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.inputbar {
  display: flex;
  justify-content: center;
  margin-right: 10px;

}